# Dependências
node_modules/
.venv/
temp/
.env
__pycache__/
*.pyc

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build
dist/
build/

# Sistema
.DS_Store
Thumbs.db